{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "loose": true,
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
                }
            }
        ]
    ],
    "plugins": ["transform-vue-jsx", "@babel/plugin-transform-runtime"],
    "env": {
        "test": {
            "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
        }
    }
}
