.ams-material{
    .sidebar.ams-sidebar {
        display block !important
        width: 7rem;
    }
    .ams-material-main{
        box-sizing border-box
        padding-left 9rem
    }
}

.ams-material-detail-img{
    display block
    max-width 100%
    margin 0 auto 20px
}

.ams-block-collapse.ams-material-main{
    .el-collapse-item__header{
        background-color #fafafa !important
        padding-left: 10px
    }
}