// 文档前面
.ams-doc-index-main {
    max-width 860px
    margin auto
    font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    text-align: center;

    .logo {
        width: 200px;
        margin: 0 auto;
    }

    .title {
        font-weight: 600;
        font-size: 50px;
        line-height: 2em;
        color: #444;
    }

    .sub-title {
        line-height: 2em;
        font-size: 20px;
        color: #999;
    }

    .btns {
        $color = #2faace;
        $alpha-color = rgba(47, 170, 206, 0.7);
        padding-top: 20px;
        padding-bottom 100px

        a {
            border: 1px solid $color;
            border-radius: 25px;
            height: 50px;
            line-height: 50px;
            min-width: 150px;
            box-sizing: border-box;
            color: $color;
            display: inline-block;
            font-size: 18px;
            letter-spacing: 1px;
            text-decoration: none;
            transition: all 0.15s ease;
            margin:0 10px;
            &.gray{
                background-color: #f6f6f6;
                color: #4f5959;
                border-color: #f6f6f6;
            }
            &.has-icon{
                position: relative;
                text-indent: 1.4em;
                svg {
                    position: absolute;
                    left: 0.4em;
                    top: 0.4em;
                    width: 2em;
                }
            }
            &:hover {
                text-decoration: none !important;
                border-color: $alpha-color;
                color: $alpha-color;
            }
        }
        iframe{
            vertical-align: middle;
            margin: 0 10px;
        }
        .start {
            background-color: $color;
            color: #fff;

            &:hover {
                background-color: $alpha-color;
                color: #fff;
            }
        }
    }

    .figure {
        position relative
        padding-left: 60px
        min-height: 300px
        .figure-title{
            position absolute;
            left 10px
            top 0
            font-size 20px
            color #2faace
            text-align center
            width 30px
            letter-spacing 6px
            writing-mode: tb;
        }
        .item{
            background: #ffffff;
            border: 1px solid #eaeefb;
            border-radius: 5px;
            box-sizing: border-box;
            text-align: center;
            overflow hidden
            .name{
                font-size 14px
                color #333
                line-height 2em
            }
        }
        .res-list{
            overflow hidden
            .item{
                float left
                height: 170px;
                width: 200px;
                border-right none
                &:last-child{
                    border-right: 1px solid #eaeefb;
                }
            }
        }
        .config-list{
            overflow hidden
            .item{
                float left
                width 300px
                height 200px
                &:last-child{
                    margin-left: 200px
                }
            }
        }
        .ans{
            .item{
                height 300px
            }
        }
    }
    .figure-1{
        height 333px
        .a{
            display block
            width 144px
            margin 0px auto
        }
        .arr{
            width 182px
            height 157px
            position absolute
            bottom 0
        }
        .arr1{
            left 410px
        }
        .arr2{
            right 350px
            -webkit-transform:scaleX(-1);
            transform:scaleX(-1);
        }
    }
    .figure-2{
        .b{
            display block
            width 282px
            margin 0px auto
        }
        .arr{
            width 351px
            height 159px
            display block
            margin: auto
        }
    }
    .figure-3{
        .item{
            position relative
        }
        .c{
            position absolute
            height 150px
            top 10px
            box-shadow: -4px -2px 7px 1px #f2f2f2;
        }
        .c1{
            left 0
            top 0
        }
        .c2{
            left 150px
            top 20px
        }
        .c3{
            left 270px
            top 40px
        }
        .c4{
            left 400px
            top 60px
        }
        .c5{
            left 500px
            top 80px
        }
        // .c6{
        //     left 560px
        //     top 60px
        // }
        .c6{
            left 600px
            top 100px
        }
    }
}
.footer {
    background-color: rgba(242,247,249,0.28);
    width: 100%;
    padding: 40px 250px;
    box-sizing: border-box;
    height: 340px;
    margin-top 30px
    &-item{
        width: 200px;
        float left
        a{
            display: block;
            margin: 0;
            line-height: 2;
            font-size: 14px;
            color: #999;
            &:hover{
                color: #333333
                
            }
        }
    }
}