.ams-material-card {
    .card-class-list {
        margin: 0 auto 30px;
        padding: 15px 10px;
        width: 98%;
        box-shadow: 0 5px 15px 0 rgba(82, 94, 102, 0.1);
        border-radius: 4px;

        ul {
            margin: 0;
            overflow: hidden;
        }

        li {
            list-style: none;
            display: block;
            float: left;
            margin: 10px;
            padding: 0 15px;
            height: 24px;
            line-height: 24px;
            color: #666;
            font-size: 13px;
            border-radius: 5px;
            cursor: pointer;
        }

        .active {
            color: #fff;
            background: #409EFF;
        }
    }

    .ams-card-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .el-card__body {
            padding: 0;
            position: relative;
        }

        .card-item {
            flex: 0 0 25%;
            width: 25%;
            max-width: 25%;
            padding: 0 15px;
            overflow: hidden;
            margin-bottom: 20px;

            .new-card-icon {
                position: absolute;
                left: 0;
                top: 0;
                width: 36px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background-color: #4172ff;
                color: #fff;
                font-size: 12px;
                background: linear-gradient(to top right, #409EFF, #bcf7f6);
                border-bottom-right-radius: 5px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
            }

            &:hover {
                .card-item-mask {
                    top: 0;
                }
            }
        }

        .card-item-snapshoot {
            position: relative;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            transition: all 0.3s ease;
        }

        .card-item-bottom {
            border-top: 1px solid #eee;
            margin: 0;
            padding: 10px 15px;
            display: flex;
            height: 45px;
            background-color: rgb(48, 65, 86);

            .title {
                flex: 3;
                height: 25px;
                line-height: 25px;
                color: #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .time {
                flex: 2;
                height: 25px;
                line-height: 25px;
                font-size: 13px;
                color: #999;
                text-align: right;
            }
        }

        .card-item-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 100%;
            left: 0;
            border-radius: 5px;
            background-color: rgb(48, 65, 86);
            color: #fff;
            transition: all 0.2s ease-in-out;

            h5 {
                margin: 0;
                padding: 20px 15px 10px;
                font-size: 15px;
            }

            p {
                color: #fff;
                margin: 8px 0 0;
                padding: 0 15px;
                font-size: 12px;
                line-height: 15px;
                max-height: 30px;
                overflow: hidden;
            }

            .card-oparation {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 45px;
                padding: 0px 8px;
                background: rgba(255, 255, 255, 0.9);
                border-top: 1px solid #eee;
                text-align: center;
            }
        }
    }

    .empty {
        width: 100%;
        line-height: 60px;
        color: #909399;
        text-align: center;
    }

    .el-pagination {
        margin-top: 20px;
    }

    .el-slider__button-wrapper {
        z-index: 1;
    }

    @media (max-width: 1400px) {
        .ams-card-list .card-item {
            flex: 0 0 33.33333%;
            width: 33.33333%;
            max-width: 33.33333%;
        }
    }

    @media (max-width: 1150px) {
        .ams-card-list .card-item {
            flex: 0 0 50%;
            width: 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 820px) {
        .ams-card-list .card-item {
            flex: 0 0 70%;
            width: 70%;
            max-width: 70%;
        }
    }
}